*~
_eupspkg
.travis.yml
appveyor.yml
ANNOUNCE
CCache/
CHANGES
CHANGES.current
COPYRIGHT
Doc/
Examples/
INSTALL
LICENSE*
Lib/
Makefile*
README
RELEASENOTES
Source/
TODO
Tools/
Win/
_build.*
aclocal.m4
autogen.sh
config*
preinst-*
swig
swig.spec*
upstream/prepared
vms/
